force-app/main/default/flows/Create_Playing_11_For_Match_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Add away team player to all away team player list variable</description>
        <name>Add_Away_Team_Player</name>
        <label>Add Away Team Player</label>
        <locationX>688</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>All_AwayTeam_Players</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_all_players</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_players</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add existing away team player id</description>
        <name>Add_existing_away_team_player_id</name>
        <label>Add existing away team player id</label>
        <locationX>556</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Already_Selected_Away_Team_Player_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_existing_playing_11.Player__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_existing_playing_11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add existing home team player id</description>
        <name>Add_existing_home_team_player_id</name>
        <label>Add existing home team player id</label>
        <locationX>292</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Already_Selected_Home_Team_Player_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_existing_playing_11.Player__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_existing_playing_11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add home team player to all home team player list variable</description>
        <name>Add_Home_Team_Player</name>
        <label>Add Home Team Player</label>
        <locationX>424</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>All_HomeTeam_Players</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_all_players</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_players</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Selected Home and Away Team Players Count</description>
        <name>Assign_Selected_Home_And_Away_Team_Players_Count</name>
        <label>Assign Selected Home And Away Team Players Count</label>
        <locationX>336</locationX>
        <locationY>2066</locationY>
        <assignmentItems>
            <assignToReference>Selected_Home_Team_Players_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Selected_Home_Team_Playing_11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Away_Team_Players_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Selected_Away_Team_Playing_11</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_11_players_are_selected_from_both_team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create Match Player Record To Insert</description>
        <name>Create_and_add_Match_Player_To_Insert_Away_Team</name>
        <label>Create and add Match Player To Insert Away Team</label>
        <locationX>270</locationX>
        <locationY>2990</locationY>
        <assignmentItems>
            <assignToReference>Current_Match_Player.Game__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Match_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Match_Player.Player__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Selected_Away_Team_Players.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Match_Players_To_Insert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Match_Player</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Selected_Away_Team_Players</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create Match Player Record To Insert</description>
        <name>Create_and_add_Match_Player_To_Insert_Home_Team</name>
        <label>Create and add Match Player To Insert Home Team</label>
        <locationX>270</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>Current_Match_Player.Game__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Match_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Match_Player.Player__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Selected_Home_Team_Players.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Match_Players_To_Insert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Match_Player</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Selected_Home_Team_Players</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check 11 players are selected from both team</description>
        <name>Check_11_players_are_selected_from_both_team</name>
        <label>Check 11 players are selected from both team</label>
        <locationX>336</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>Playing_11_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>11 Players Not Selected</defaultConnectorLabel>
        <rules>
            <name>X11_Players_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Home_Team_Players_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_Away_Team_Players_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_match_players_exist</targetReference>
            </connector>
            <label>11 Players Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if match players exist, if they exist delete them and create new match player records</description>
        <name>Check_if_match_players_exist</name>
        <label>Check if match players exist</label>
        <locationX>182</locationX>
        <locationY>2282</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Selected_Home_Team_Players</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>First Time Selection</defaultConnectorLabel>
        <rules>
            <name>Match_Players_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Match_Playing_11</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_already_selected_match_players</targetReference>
            </connector>
            <label>Match Players Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if players are available</description>
        <name>Check_if_players_are_available</name>
        <label>Check if players are available</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>No_Players_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Players not available</defaultConnectorLabel>
        <rules>
            <name>Players_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Players</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_all_players</targetReference>
            </connector>
            <label>Players Available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if playing 11 already exists on the match</description>
        <name>Check_if_playing_11_already_exist</name>
        <label>Check if playing 11 already exist</label>
        <locationX>336</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Select_Playing_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Playing 11 not available</defaultConnectorLabel>
        <rules>
            <name>Playing_11_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Match_Playing_11</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_existing_playing_11</targetReference>
            </connector>
            <label>Playing 11 Available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Segregate existing playing 11 as per team into home team and away team</description>
        <name>Segregate_existing_playing_11_by_team</name>
        <label>Segregate existing playing 11 by team</label>
        <locationX>424</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Add_existing_away_team_player_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Away Team Players</defaultConnectorLabel>
        <rules>
            <name>Existing_Home_Team_Players</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_existing_playing_11.Player__r.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Match_Record.HomeTeam__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_existing_home_team_player_id</targetReference>
            </connector>
            <label>Existing Home Team Players</label>
        </rules>
    </decisions>
    <decisions>
        <description>Segregate players as per team into home team and away team</description>
        <name>Segregate_Players_By_Team</name>
        <label>Segregate Players By Team</label>
        <locationX>556</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Add_Away_Team_Player</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Away Team Players</defaultConnectorLabel>
        <rules>
            <name>Home_Team_Players</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_all_players.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Match_Record.HomeTeam__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Home_Team_Player</targetReference>
            </connector>
            <label>Home Team Players</label>
        </rules>
    </decisions>
    <description>Flow to create a playing 11 for a particular match.</description>
    <environments>Default</environments>
    <interviewLabel>Create Playing 11 For Match Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Playing 11 For Match Flow</label>
    <loops>
        <description>Loop over all players to do the segregation as per teams</description>
        <name>Loop_over_all_players</name>
        <label>Loop over all players</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_All_Players</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segregate_Players_By_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Match_Playing_11</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop over existing playing 11 to do the segregation as per teams</description>
        <name>Loop_over_existing_playing_11</name>
        <label>Loop over existing playing 11</label>
        <locationX>204</locationX>
        <locationY>1166</locationY>
        <collectionReference>Get_Match_Playing_11</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segregate_existing_playing_11_by_team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Already_Selected_Home_Team_Players</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Over Selected Away Team Players</description>
        <name>Loop_Over_Selected_Away_Team_Players</name>
        <label>Loop Over Selected Away Team Players</label>
        <locationX>182</locationX>
        <locationY>2882</locationY>
        <collectionReference>Selected_Away_Team_Playing_11</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_and_add_Match_Player_To_Insert_Away_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Match_Player_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Over Selected Home Team Players</description>
        <name>Loop_Over_Selected_Home_Team_Players</name>
        <label>Loop Over Selected Home Team Players</label>
        <locationX>182</locationX>
        <locationY>2582</locationY>
        <collectionReference>Selected_Home_Team_Playing_11</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_and_add_Match_Player_To_Insert_Home_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Over_Selected_Away_Team_Players</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Match Player Records for playing 11 for both teams</description>
        <name>Create_Match_Player_Records</name>
        <label>Create Match Player Records</label>
        <locationX>182</locationX>
        <locationY>3182</locationY>
        <connector>
            <targetReference>Playing_11_created_successfully</targetReference>
        </connector>
        <inputReference>Match_Players_To_Insert</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_already_selected_match_players</name>
        <label>Delete already selected match players</label>
        <locationX>50</locationX>
        <locationY>2390</locationY>
        <connector>
            <targetReference>Loop_Over_Selected_Home_Team_Players</targetReference>
        </connector>
        <inputReference>Get_Match_Playing_11</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Get all players from the playing team</description>
        <name>Get_All_Players</name>
        <label>Get All Players</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_players_are_available</targetReference>
        </connector>
        <filterLogic>(1 OR 2 ) AND 3</filterLogic>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Match_Record.HomeTeam__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Match_Record.AwayTeam__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Player__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Already Selected Away Team Players</description>
        <name>Get_Already_Selected_Away_Team_Players</name>
        <label>Get Already Selected Away Team Players</label>
        <locationX>204</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Playing_11</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Already_Selected_Away_Team_Player_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Player__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Already Selected Home Team Players</description>
        <name>Get_Already_Selected_Home_Team_Players</name>
        <label>Get Already Selected Home Team Players</label>
        <locationX>204</locationX>
        <locationY>1658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Already_Selected_Away_Team_Players</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Already_Selected_Home_Team_Player_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Player__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the players playing the match. In case the match players records exist means we need to update playing 11</description>
        <name>Get_Match_Playing_11</name>
        <label>Get Match Playing 11</label>
        <locationX>336</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_playing_11_already_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Game__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GamePlayer__c</object>
        <sortField>PlayerName__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the match record for showing list of players to select playing 11</description>
        <name>Get_Match_Record</name>
        <label>Get Match Record</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Players</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Game__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Navigate_To_Match</name>
        <label>Navigate To Match</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>navigateToMatch</name>
            <extensionName>c:navigateToRecordLwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Players_Error_Screen</name>
        <label>No Players Error Screen</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_To_Match</targetReference>
        </connector>
        <fields>
            <name>No_Players_Available</name>
            <extensionName>c:showToastMessageLwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>No Players are available for selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Playing_11_Error_Screen</name>
        <label>Playing 11 Error Screen</label>
        <locationX>490</locationX>
        <locationY>2282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Playing_11_Error_Message</name>
            <extensionName>c:showToastMessageLwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Playing 11 not selected. Please select 11 players to continue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Playing_11</name>
        <label>Select Playing 11</label>
        <locationX>336</locationX>
        <locationY>1958</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Selected_Home_And_Away_Team_Players_Count</targetReference>
        </connector>
        <fields>
            <name>Details</name>
            <fieldText>Match Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>match_details</name>
                    <extensionName>c:matchDetailsLwc</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Choose_Playing_11</name>
            <fieldText>Choose Playing 11</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Playing_11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Screen</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Choose_Home_Team_Playing_11</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Player__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Home Team Playing 11</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>All_HomeTeam_Players</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>11.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5f70&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Role__c&quot;,&quot;guid&quot;:&quot;column-b582&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Role&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRows</name>
                        <value>
                            <elementReference>Get_Already_Selected_Home_Team_Players</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Selected_Home_Team_Playing_11</assignToReference>
                        <name>selectedRows</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Playing_11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Screen_2</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Choose_Away_Team_Playing_11</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Player__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Away Team Playing 11</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>All_AwayTeam_Players</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1950&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Role__c&quot;,&quot;guid&quot;:&quot;column-32b2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Role&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>11.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRows</name>
                        <value>
                            <elementReference>Get_Already_Selected_Away_Team_Players</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Selected_Away_Team_Playing_11</assignToReference>
                        <name>selectedRows</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Match_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Playing_11_created_successfully</name>
        <label>Playing 11 created successfully</label>
        <locationX>182</locationX>
        <locationY>3290</locationY>
        <flowName>Show_Success_Toast_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Toast_Message</name>
            <value>
                <stringValue>Playing 11 created successfully</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Toast_Mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Toast_Title</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Toast_Variant</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>All_AwayTeam_Players</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Player__c</objectType>
    </variables>
    <variables>
        <name>All_HomeTeam_Players</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Player__c</objectType>
    </variables>
    <variables>
        <name>Already_Selected_Away_Team_Player_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Already_Selected_Home_Team_Player_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current match player for assignment</description>
        <name>Current_Match_Player</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GamePlayer__c</objectType>
    </variables>
    <variables>
        <name>Match_Players_To_Insert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GamePlayer__c</objectType>
    </variables>
    <variables>
        <description>Record Id of the match record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Away_Team_Players_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Selected players from away team in table</description>
        <name>Selected_Away_Team_Playing_11</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Player__c</objectType>
    </variables>
    <variables>
        <name>Selected_Home_Team_Players_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Selected players from home team in table</description>
        <name>Selected_Home_Team_Playing_11</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Player__c</objectType>
    </variables>
</Flow>
