force-app/main/default/flows/Toss_Decision_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <description>Flow to decide toss decision on the match</description>
    <dynamicChoiceSets>
        <description>Picklist for chose to field on match</description>
        <name>Match_Chose_To_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ChoseTo__c</picklistField>
        <picklistObject>Game__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist created to have playing team available to choose from in toss winner</description>
        <name>Playing_Teams_Picklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Match_Details.HomeTeam__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Match_Details.AwayTeam__c</elementReference>
            </value>
        </filters>
        <limit>2</limit>
        <object>Team__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Toss Decision Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Toss Decision Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the match details for toss</description>
        <name>Get_Match_Details</name>
        <label>Get Match Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Toss_Decision_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Game__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Match_Record_With_Toss_Details</name>
        <label>Update Match Record With Toss Details</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Toss_updated_successfully</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChoseTo__c</field>
            <value>
                <elementReference>Chose_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TossDone__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TossWonBy__c</field>
            <value>
                <elementReference>Team_Winning_Toss</elementReference>
            </value>
        </inputAssignments>
        <object>Game__c</object>
    </recordUpdates>
    <screens>
        <name>Fault_Error_Screen</name>
        <label>Fault Error Screen</label>
        <locationX>704</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Oops something went wrong !!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;ERROR :&lt;/strong&gt; &lt;em&gt;{!$Flow.FaultMessage}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Toss_Decision_Screen</name>
        <label>Toss Decision Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Match_Record_With_Toss_Details</targetReference>
        </connector>
        <fields>
            <name>Details</name>
            <fieldText>Match Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>match_details</name>
                    <extensionName>c:matchDetailsLwc</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Toss_Details</name>
            <fieldText>Toss Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Toss_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Team_Winning_Toss</name>
                    <choiceReferences>Playing_Teams_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Match_Details.TossWonBy__c</elementReference>
                    </defaultValue>
                    <fieldText>Team Winning Toss</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Toss_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Chose_To</name>
                    <choiceReferences>Match_Chose_To_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Match_Details.ChoseTo__c</elementReference>
                    </defaultValue>
                    <fieldText>Chose To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Match_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Toss_updated_successfully</name>
        <label>Toss updated successfully</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <flowName>Show_Success_Toast_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Toast_Message</name>
            <value>
                <stringValue>Toss details added to the match</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Toast_Mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Toast_Title</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Toast_Variant</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Record Id of match</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
